body {
  margin: 0;
  padding: 0;
  background-color: darkgrey;
}
table {
  margin-left: auto;
  margin-right: auto;
  background-color: gray;
  padding: 10px;
}
td {
  box-sizing: border-box;
  padding: 1px 5px;
}
table tbody tr:first-of-type td {
  /* height: 31px; */
}
